          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '8' %>" class="btn btn-success btn-lg btn-block">                                     
                <h2 class="text-light"> APERITIVOS            ____bebidas_____08be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '9' %>" class="btn btn-success btn-lg btn-block">                                     
                <h2 class="text-light"> VASO DE VINO          ____bebidas_____09be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '10' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS COMUNES 1/2 LI  ____bebidas_____10be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '11' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS FINOS 1/2 LITR  ____bebidas_____11be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '12' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS               ____bebidas_____12be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '13' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICUADOS              ____bebidas_____13be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '14' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____14be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '15' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICORES               ____bebidas_____15be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '16' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> WHISKY NACIONAL       ____bebidas_____16be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '18' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> TRAGO LARGO COMBINAD  ____bebidas_____18be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/posac/snippet/<%= '19' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CHAMPAGNE Y SIDRA     ____bebidas_____19be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
